
    <div class="container position-sticky z-index-sticky top-0">
    <div class="row">
      <div class="col-12">
        <nav class="navbar navbar-expand-lg  blur blur-rounded top-0  z-index-3 shadow position-absolute mt-4 my-3 py-2 start-0 end-0 mx-4">
          <div class="container-fluid">
            <a class="navbar-brand font-weight-bolder ms-sm-3" href="/" rel="tooltip" title="Designed and Coded by Creative Tim" data-placement="bottom">
              Expansive Labs
            </a>
            <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon mt-2">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </span>
            </button>
            <div class="collapse navbar-collapse pt-3 pb-2 py-lg-0" id="navigation">
              <ul class="navbar-nav navbar-nav-hover mx-auto">
               <li class="nav-item dropdown dropdown-hover mx-2">
                  <div class="dropdown-menu dropdown-menu-animation dropdown-xl p-3 border-radius-xl mt-0 mt-lg-3" aria-labelledby="dropdownMenuPages">
                    <div class="row d-none d-lg-block">
                      <div class="col-12 px-4 py-2">
                        <div class="row">
                          <div class="col-6 position-relative">
                              <div class="d-inline-block">
                                <div class="icon icon-shape icon-xs border-radius-md bg-gradient-primary text-center me-2 d-flex align-items-center justify-content-center">
                                </div>
                              </div>
                              <div class="d-inline-block">
                                <div class="icon icon-shape icon-xs border-radius-md bg-gradient-primary text-center me-2 d-flex align-items-center justify-content-center ps-0">
                                </div>
                              </div>
                          </div>
                          <div class="col-6 position-relative">
                            <h6 class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center px-0">
                              <div class="d-inline-block">
                                <div class="icon icon-shape icon-xs border-radius-md bg-gradient-primary text-center me-2 d-flex align-items-center justify-content-center ps-0">
                                </div>
                              </div>
                            </h6>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="nav-item mx-2">
                <a class="nav-link ps-2 d-flex justify-content-between font-weight-bold cursor-pointer align-items-center" href="/about-us/">About Us</a>
                </li>
                <li class="nav-item mx-2">
                <a class="nav-link ps-2 d-flex justify-content-between font-weight-bold cursor-pointer align-items-center" href="/team/">Team</a>
                </li>
                <li class="nav-item mx-2">
                <a class="nav-link ps-2 d-flex justify-content-between font-weight-bold cursor-pointer align-items-center" href="/playlists/">Playlists</a>
                </li>
                <li class="nav-item mx-2">
                <a class="nav-link ps-2 d-flex justify-content-between font-weight-bold cursor-pointer align-items-center" href="/blog/">Blog</a>
                </li>
                <li class="nav-item mx-2">
                <a class="nav-link ps-2 d-flex justify-content-between font-weight-bold cursor-pointer align-items-center" href="/services/">Services</a>
                </li>
                <li class="nav-item mx-2">
                <a class="nav-link ps-2 d-flex justify-content-between font-weight-bold cursor-pointer align-items-center" href="/pages/contact-us/">Contact Us</a>
                </li>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
