{% extends "base-blog-single.njk" %}

{% block content %}
  <div class="container mt-7">
    <header class="text-center">
      {% if image %}
        <img src="{{ image }}" class="img-fluid rounded mb-4 w-100" alt="{{ title }}" loading="eager">
      {% else %}
        <p class="text-muted">No image available</p>
      {% endif %}
      <h1 class="display-4 mt-4">{{ title }}</h1>
      <p class="text-muted">
        <strong>{{ date }}</strong> by <span class="text-primary">{{ author }}</span>
      </p>
    </header>

    <div class="blog-content py-4">
      <article class="lead">
        {{ content | safe }}
      </article>
    </div>

    <div class="text-center mt-5">
      <a href="/blog" class="btn btn-primary">Back to Blog</a>
    </div>
  </div>
{% endblock %}  
