<script src="/static/assets/js/core/popper.min.js"></script>
<script src="/static/assets/js/core/bootstrap.min.js"></script>
<script src="/static/assets/js/plugins/perfect-scrollbar.min.js"></script>
<script src="/static/assets/js/soft-design-system-pro.min.js"></script>
<script src="/static/assets/js/plugins/rellax.min.js"></script>
<script src="/static/assets/js/plugins/countup.min.js"></script>
<script src="/static/assets/js/plugins/typedjs.js"></script>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-KNP10LPY12"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-KNP10LPY12');
</script>