$card-box-shadow:                   0 20px 27px 0 rgba(0,0,0,0.05)  !default;
$card-background-blur:              rgba(255, 255, 255, 0.8) !default;

$card-header-padding:               1.5rem !default;

$card-body-padding:                 $card-header-padding !default;
$card-plain-bg-color:               transparent !default;
$card-plain-box-shadow:             none !default;

$card-footer-padding:               $card-body-padding !default;

$card-title-font-weight:            $font-weight-bold !default;
$card-title-line-height:            1.2 !default;

$card-author-display:               flex !default;
$card-author-name-line-height:      1.571 !default;
$card-author-name-color:            #3A416F !default;
$card-author-stats-color:           #5D6494 !default;
$card-avatar-width:                 30px !default;
$card-avatar-height:                $card-avatar-width !default;
$card-avatar-overflow:              hidden !default;
$card-avatar-radius:                50% !default;
$card-avatar-mr:                    5px !default;
$card-stats-name-mt:                -4px !default;
$card-name-ml:                      .25rem !default;

$card-badge-text-transform:         uppercase !default;
$card-badge-bg-color:               #FAFAFF !default;
