// Gradient Animation
$gradient-animation-background:       linear-gradient(-45deg, $info-gradient, $danger, $warning, $primary-gradient, $dark) !default;
$gradient-animation-bg-size:          400% 400% !default;


// Device Wrapper
$device-wrapper-radius:               3.5rem !default;
$device-wrapper-box-shadow:           0 12px 15px rgba(140, 152, 164, 0.1) !default;
$device-wrapper-animation:            gradient 10s ease infinite !default;


// Text Border
$text-border-bg-color:                rgba($secondary,.5) !default;
$text-border-bg-color-before:         linear-gradient(90deg,transparent,rgba(117,117,117,.4),rgba(117,117,117,.4)) !default;
$text-border-bg-color-after:          linear-gradient(90deg,rgba(117,117,117,.4),rgba(117,117,117,.4),transparent) !default;
$text-border-display:                 inline-block !default;
$text-border-width:                   30% !default;
$text-border-height:                  1px !default;
$text-border-position:                relative !default;
$text-border-vertical-align:          middle !default;
$text-border-before-right:            .5em !default;
$text-border-before-ml:               -50% !default;
$text-border-after-left:              $text-border-before-right !default;
$text-border-after-mr:                $text-border-before-ml !default;


// Header Shapes

$shape-1-width:                       55% !default;
$shape-1-left:                        15% !default;
$shape-2-width:                       35% !default;
$shape-2-left:                        20% !default;
$shape-3-width:                       50% !default;
$shape-3-left:                        -28rem !default;

$shape-img-1-right:                   7% !default;
$shape-img-1-width:                   36% !default;
$shape-img-1-margin-top:              12% !default;

$shape-img-2-left:                    24% !default;
$shape-img-2-width:                   27% !default;
$shape-img-2-margin-top:              10% !default;


// Tilt Animation

$tilt-transform-style:                preserve-3d !default;
$tilt-transform-up-transform:         translateZ(50px) scale(0.7) !default;
$tilt-transform-up-transition:        all 0.5s !default;


// Blur background


$blur-light-background:               rgba(255, 255, 255, 0.4) !default;
$blur-dark-background:                rgba(0, 0, 0, 0.3) !default;

// HR w/ opacity

$hr-bg-color:                         transparent !default;
$hr-width:                            1px !default;
$hr-margin:                           .75rem 0 !default;
$hr-horizontal-bg-image-light:        linear-gradient(to right, rgba(255, 255, 255, 0), white, rgba(255, 255, 255, 0)) !default;
$hr-horizontal-bg-image-dark:         linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, .4), rgba(0, 0, 0, 0)) !default;
$hr-vertical-bg-image-light:          linear-gradient(to bottom, rgba(255, 255, 255, 0), white, rgba(255, 255, 255, 0)) !default;
$hr-vertical-bg-image-dark:           linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .4), rgba(0, 0, 0, 0)) !default;

// Nav pills
$nav-pills-link-border-radius:            0.5rem !default;
$nav-pills-link-box-shadow: 0px 1px 5px 1px #ddd !default;
$nav-pills-link-active-padding:         7px 15px !default;
$nav-pills-link-active-margin:               1px !default;
$nav-pills-link-active-animation:       .2s ease !default;
