---
layout: base-blog
title: Categories
body_class: blog-categories
---

  {% include "navigation.njk" %}
  
  <header>
    <div class="page-header section-height-50" style="background-image: url('https://images.unsplash.com/photo-1489769002049-ccd828976a6c?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=3314&q=80')">
      <span class="mask bg-gradient-primary"></span>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-white text-center">
            <h2 class="text-white">Search over our Blog Posts</h2>
            <p class="lead">A place for entrepreneurs to share and discover new Stories</p>
          </div>
        </div>
      </div>
    </div>
    <div class="position-relative overflow-hidden" style="height:36px;margin-top:-35px;">
      <div class="w-full absolute bottom-0 start-0 end-0" style="transform: scale(2);transform-origin: top center;color: #fff;">
        <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
        </svg>
      </div>
    </div>
    <div class="container">
      <div class="row bg-white shadow-lg mt-n6 border-radius-md pb-4 p-3 position-relative w-75 mx-auto">
        <div class="col-lg-8 mt-lg-n2 mt-2">
          <label>Search</label>
          <div class="input-group">
            <span class="input-group-text"><i class="fas fa-search"></i></span>
            <input class="form-control" placeholder="Search for category" type="text">
          </div>
        </div>
        <div class="col-lg-4 d-flex align-items-center my-auto">
          <button type="button" class="btn bg-gradient-primary w-100 mb-0 m4 mt-3">Search</button>
        </div>
      </div>
    </div>
  </header>

  <div class="container mt-7">
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-6 justify-content-center d-flex flex-column">
            <div class="card">
              <div class="d-block blur-shadow-image">
                <img src="https://images.unsplash.com/photo-1518051870910-a46e30d9db16?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=2250&q=80" alt="img-blur-shadow-blog-2" class="img-fluid border-radius-lg">
              </div>
            </div>
          </div>
          <div class="col-lg-6 justify-content-center d-flex flex-column pl-lg-5 pt-lg-0 pt-3">
            <h6 class="category text-primary mt-3">Coworking</h6>
            <h3 class="card-title">
              <a href="javascript:;" class="text-dark">Warner Music Group buys concert discovery service Songkick</a>
            </h3>
            <p class="card-description">
              Warner Music Group announced today it’s acquiring the selected assets of the music platform Songkick, including its app for finding concerts and the company’s trademark. Songkick has been involved in a lawsuit against the major… <a href="javascript:;" class="text-darker icon-move-right text-sm">Read More
                <i class="fas fa-arrow-right text-xs ms-1"></i>
              </a>
            </p>
            <p class="author">
              by <a href="javascript:;" class="ms-1"><span class="font-weight-bold text-primary"> Sarah Perez</span></a>, 2 days ago
            </p>
          </div>
        </div>
        <div class="row">
          <div class="row mt-5">
            <div class="col-lg-4 mb-lg-0 mb-4">
              <!-- Start Card Blog Fullbackground - text centered -->
              <a href="javascript:;">
                <div class="card card-background move-on-hover">
                  <div class="full-background" style="background-image: url('https://images.unsplash.com/photo-1429087969512-1e85aab2683d?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=934&q=80')"></div>
                  <div class="card-body pt-12">
                    <h4 class="text-white">Search and Discovery</h4>
                    <p>Website visitors today demand a frictionless user expericence — especially when using search. Because of the hight standards.</p>
                  </div>
                </div>
              </a>
              <!-- End Card Blog Fullbackground - text centered -->
            </div>
            <div class="col-lg-4 mb-lg-0 mb-4">
              <!-- Start Card Blog Fullbackground - text centered -->
              <a href="javascript:;">
                <div class="card card-background move-on-hover">
                  <div class="full-background" style="background-image: url('https://images.unsplash.com/photo-1536662788222-6927ce05daea?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=934&q=80')"></div>
                  <div class="card-body pt-12">
                    <h4 class="text-white">Search and Discovery</h4>
                    <p>Website visitors today demand a frictionless user expericence — especially when using search. Because of the hight standards.</p>
                  </div>
                </div>
              </a>
              <!-- End Card Blog Fullbackground - text centered -->
            </div>
            <div class="col-lg-4">
              <!-- Start Card Blog Fullbackground - text centered -->
              <a href="javascript:;">
                <div class="card card-background move-on-hover">
                  <div class="full-background" style="background-image: url('https://images.unsplash.com/photo-1531326078100-817bb9db0a1e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=934&q=80')"></div>
                  <div class="card-body pt-12">
                    <h4 class="text-white">Search and Discovery</h4>
                    <p>Website visitors today demand a frictionless user expericence — especially when using search. Because of the hight standards.</p>
                  </div>
                </div>
              </a>
              <!-- End Card Blog Fullbackground - text centered -->
            </div>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-lg-6 justify-content-center d-flex flex-column">
            <div class="card">
              <div class="d-block blur-shadow-image">
                <img src="https://images.unsplash.com/photo-1457131760772-7017c6180f05?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2236&q=80" alt="img-blur-shadow-blog-2" class="img-fluid border-radius-lg">
              </div>
            </div>
          </div>
          <div class="col-lg-6 justify-content-center d-flex flex-column pl-lg-5 pt-lg-0 pt-3">
            <h6 class="category text-warning mt-3">Productivity</h6>
            <h3 class="card-title">
              <a href="javascript:;" class="text-dark">Interesting factoids I bet you never knew about Creative Tim</a>
            </h3>
            <p class="card-description">
              Warner Music Group announced today it’s acquiring the selected assets of the music platform Songkick, including its app for finding concerts and the company’s trademark. Songkick has been involved in a lawsuit against the major… <a href="javascript:;" class="text-darker icon-move-right text-sm">Read More
                <i class="fas fa-arrow-right text-xs ms-1"></i>
              </a>
            </p>
            <p class="author">
              by <a href="javascript:;" class="ms-1"><span class="font-weight-bold text-warning"> Sarah Perez</span></a>, 2 days ago
            </p>
          </div>
        </div>
        <div class="row">
          <div class="row mt-5">
            <div class="col-lg-4 mb-lg-0 mb-4">
              <!-- Start Card Blog Fullbackground - text centered -->
              <a href="javascript:;">
                <div class="card card-background move-on-hover">
                  <div class="full-background" style="background-image: url('https://images.unsplash.com/photo-1461439626172-c3b891456f2e?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1246&q=80')"></div>
                  <div class="card-body pt-12">
                    <h4 class="text-white">Search and Discovery</h4>
                    <p>Website visitors today demand a frictionless user expericence — especially when using search. Because of the hight standards.</p>
                  </div>
                </div>
              </a>
              <!-- End Card Blog Fullbackground - text centered -->
            </div>
            <div class="col-lg-4 mb-lg-0 mb-4">
              <!-- Start Card Blog Fullbackground - text centered -->
              <a href="javascript:;">
                <div class="card card-background move-on-hover">
                  <div class="full-background" style="background-image: url('https://images.unsplash.com/photo-1528825871115-3581a5387919?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1258&q=80')"></div>
                  <div class="card-body pt-12">
                    <h4 class="text-white">Search and Discovery</h4>
                    <p>Website visitors today demand a frictionless user expericence — especially when using search. Because of the hight standards.</p>
                  </div>
                </div>
              </a>
              <!-- End Card Blog Fullbackground - text centered -->
            </div>
            <div class="col-lg-4">
              <!-- Start Card Blog Fullbackground - text centered -->
              <a href="javascript:;">
                <div class="card card-background move-on-hover">
                  <div class="full-background" style="background-image: url('https://images.unsplash.com/photo-1552010099-5dc86fcfaa38?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1300&q=80')"></div>
                  <div class="card-body pt-12">
                    <h4 class="text-white">Search and Discovery</h4>
                    <p>Website visitors today demand a frictionless user expericence — especially when using search. Because of the hight standards.</p>
                  </div>
                </div>
              </a>
              <!-- End Card Blog Fullbackground - text centered -->
            </div>
          </div>
        </div>
        <ul class="pagination pagination-primary my-5">
          <li class="page-item">
            <a class="page-link" href="javascript:;" aria-label="Previous">
              <span aria-hidden="true"><i class="fa fa-angle-double-left" aria-hidden="true"></i></span>
            </a>
          </li>
          <li class="page-item">
            <a class="page-link" href="javascript:;">1</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="javascript:;">2</a>
          </li>
          <li class="page-item active">
            <a class="page-link" href="javascript:;">3</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="javascript:;">4</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="javascript:;">5</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="javascript:;" aria-label="Next">
              <span aria-hidden="true"><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  
  {% include "footer-dark.njk" %}

