---
layout: "base-blog.njk"
title: "About Us"
permalink: "/about-us/"
eleventyComputed:
  team: "{{ aboutUs.team }}"
---

{% include "navigation-sticky.njk" %}

<header class="bg-gradient-dark">
  <div class="page-header section-height-75" style="background-image: url('/static/assets/img/office-dark.jpeg');">
    <span class="mask bg-gradient-info opacity-8"></span>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 text-center mx-auto my-auto">
          <h1 class="text-white">{{ aboutUs.title }}</h1>
          <p class="lead mb-4 text-white opacity-8">{{ aboutUs.subtitle }}</p>
          <button type="submit" class="btn bg-white text-dark">Create Account</button>
        </div>
      </div>
    </div>
  </div>
</header>

<section class="py-7">
  <div class="container">
    <div class="row">
      {% for member in aboutUs.team %}
      <div class="col-lg-6 col-12">
        <div class="card card-profile z-index-2 overflow-hidden">
          <div class="row">
            <div class="col-lg-5 col-md-6 col-12 pe-lg-0">
              <a href="javascript:;">
                <img class="w-100" src="{{ member.image }}">
              </a>
            </div>
            <div class="col-lg-7 col-md-6 col-12 ps-lg-0 my-auto">
              <div class="card-body text-left">
                <h5 class="mb-0">{{ member.name }}</h5>
                <h6 class="text-dark opacity-7 font-weight-bolder text-uppercase mb-3">{{ member.role }}</h6>
                <p class="mb-0">{{ member.bio }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

{% include "footer.njk" %}
