---
title: "Expansive Labs | Services"
permalink: "/services/"
---

<!--
DEREK TEST
=========================================================
* Soft UI PRO - v1.0.1
=========================================================

* Product Page: https://www.creative-tim.com/product/soft-ui-design-system-pro
* Copyright 2021 Creative Tim (https://www.creative-tim.com)

Coded by www.creative-tim.com

 =========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="/static/assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="/static/assets/img/favicon.png">
  <link rel="canonical" href="https://appseed.us/ui-kit/soft-ui-design-system" />

  <title>
    {{title}}
  </title>
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
  <!-- Nucleo Icons -->
  <link href="/static/assets/css/nucleo-icons.css" rel="stylesheet" />
  <link href="/static/assets/css/nucleo-svg.css" rel="stylesheet" />
  <!-- Font Awesome Icons -->
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <link href="/static/assets/css/nucleo-svg.css" rel="stylesheet" />
  <!-- CSS Files -->
  <link id="pagestyle" href="/static/assets/css/soft-design-system-pro.css?v=1.0.1" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <!-- <link href="/static/assets/demo/demo.css" rel="stylesheet" /> -->

</head>

<body class="{{ body_class }}">

  {% include "navigation-sticky.njk" %}

  <style>
    .custom-gradient {
      background: linear-gradient(135deg, #202060 30%, #2575fc 80%);
      background-size: cover;
      background-position: center;
      color: white;
      border-radius: 1rem;
    }
  </style>

  <header class="header-2 position-relative">
    <div class="page-header section-height-75 relative"
      style="background-image: url('https://images.unsplash.com/photo-1506318137071-a8e063b4bec0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2570&q=80')">
      <span class="mask bg-gradient-dark"></span>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6 text-center mx-auto mt-n7">
            <h3 class="text-white fadeIn1 fadeInBottom">Expansive Labs</h3>
            <h1 class="text-white fadeIn2 fadeInBottom">Our Services</h1>
            <p class="lead mb-5 fadeIn3 fadeInBottom text-white opacity-6">Empowering Data, Advancing Health, Shaping
              the Future.</p>
          </div>
        </div>
      </div>


      <div class="position-absolute w-100 z-index-1 bottom-0">
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
          viewBox="0 24 150 40" preserveAspectRatio="none" shape-rendering="auto">
          <defs>
            <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
          </defs>
          <g class="moving-waves">
            <use xlink:href="#gentle-wave" x="48" y="-1" fill="rgba(32,32,96,0.40" />
            <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.35)" />
            <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.25)" />
            <use xlink:href="#gentle-wave" x="48" y="8" fill="rgba(255,255,255,0.20)" />
            <use xlink:href="#gentle-wave" x="48" y="13" fill="rgba(32,32,96,0.15)" />
            <use xlink:href="#gentle-wave" x="48" y="16" fill="rgba(255,255,255,1" />
          </g>
        </svg>
      </div>
    </div>
  </header>
  </header>
  <div class="row">
    <div class="col-md-8 mx-auto text-center mb-5">
      <div class="icon icon-shape custom-gradient shadow text-center mb-3">
        <i class="fas fa-users"></i>
      </div>
      <h3 class="z-index-1 position-relative">Services We Provide</h3>
      <p class="lead">We provide cutting-edge technology solutions to help businesses thrive in the digital landscape.
        Our expertise spans across application development, cybersecurity, cloud computing, and IT consulting, ensuring
        that your business stays secure, scalable, and competitive. Whether you need a custom-built application,
        penetration testing for security assurance, cloud migration strategies, or IT infrastructure optimization, our
        team of experts is here to deliver.</p>
    </div>
  </div>
  <section class="py-3 my-3">

    <div class="container">
      <div class="row" style="display: flex; flex-wrap: flex">
        {% for service in collections.services %}
        <div class="col-lg-3 col-md-4 col-sm-6 mb-4" style="display: flex; align-items: stretch;">
          <div class="card card-background custom-gradient tilt" data-tilt=""
            style="will-change: transform; transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1); height: 100%; display: flex; flex-direction: column;">
            <div class="full-background"
              style="background-position: center; background-size: cover; background-image: url('')"></div>
            <div class="card-body pt-7 text-center"
              style="flex-grow: 1; display: flex; flex-direction: column; justify-content: space-between;">
              <a href="{{ service.url }}" target="_blank" class="btn btn-outline-white btn-lg mt-3 up btn-round"
                style="width: 110%; text-align: center; display: inline-block; max-width: 300px;">
                {{ service.data.name }} </a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>

  {% include "footer.njk" %}

  




</body>

</html>