// Horizontal Faded Line
$hr-bg:                       transparent !default;
$hr-transform:                rotate(90deg) !default;
$hr-bg-image:                 linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)) !default;
$hr-bg-dark-image:            linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, .4), rgba(0, 0, 0, 0)) !default;

// Table Progress

$table-progress-width:        120px !default;
$table-progress-height:       3px !default;
$table-progress-margin:       0 !default;

// Tooltip Arrow

$tooltip-arrow-left:          1px !default;
$tooltip-arrow-right:         $tooltip-arrow-left !default;

// Footer Link hover animation

$footer-link-animation:       opacity .3 ease !default;
