// on hover transition variables

$move-transition:               .2s ease-out !default;
$move-overflow:                 hidden !default;
$move-transform:                perspective(999px) rotateX(0deg) translate3d(0,0,0) !default;
$move-transform-origin:         50% 0 !default;
$move-backface-visibility:      hidden !default;
$move-will-change:              transform,box-shadow !default;
$move-hover-transform:          perspective(999px) rotateX(7deg) translate3d(0px,-4px,5px) !default;

// blur effect variables
$blur-border-radius-rounded:    40px !default;
$blur-box-shadow:               inset 0px 0px 2px #fefefed1 !default;
$blur-backdrop-filter:          saturate(200%) blur(30px) !default;
$blur-backdrop-filter-less:     saturate(20%) blur(30px) !default;

$shadow-blur-box-shadow:        inset 0 0px 1px 1px rgba(254, 254, 254, .9), 0 20px 27px 0 rgba(0, 0, 0, .05) !default;

// Colores Shadow on cards
$colored-shadow-top:            3.5% !default;
$colored-shadow-blur:           12px !default;
$colored-shadow-scale:          .94 !default;
$colored-shadow-scale-avatar:   .87 !default;

// Card Projects
$card-project-transition:       .4s cubic-bezier(.215,.61,.355,1) !default;
$card-project-avatar-transform: scale(.8) translateY(-45px) !default;
$card-project-hover-transform:  translateY(-2px) !default;

// Transform Perspective effect
$transform-perspective:         scale(1) perspective(1040px) rotateY(-11deg) rotateX(2deg) rotate(2deg) !default;
$transform-perspective-inverse: scale(1) perspective(1040px) rotateY(11deg) rotateX(-2deg) rotate(-2deg) !default;

// Z index
$z-index2:                       2 !default;

// Width in PX
$width-32-px:                     32px !default;
$width-48-px:                     48px !default;
$width-64-px:                     64px !default;
