---
layout: base-blog
title: Blog
permalink: "/blog/"
---

  {% include "navigation-sticky.njk" %}
  <header>

    
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="page-header section-height-75 m-3 border-radius-xl" style="background-image: url('/static/assets/img/expansiveBlog3.jpg');">
            <span class="bg-gradient-light"></span>
            <div class="container">
              <div class="row">
                <div class="col-lg-6 my-auto">
                  <h4 class="text-white mb-0 fadeIn1 fadeInBottom">Featured Blog:</h4>
                  <h1 class="text-white fadeIn2 fadeInBottom">AWS Batch</h1>
                  <p class="lead text-white opacity-8 fadeIn3 fadeInBottom">This example demonstrates how to deploy a simple batch workflow using Amazon Batch, along with CloudFormation, AWS Lambda, Docker,
                     and S3 bucket triggers. It showcases a deployable artifact proof-of-concept rather than prescribing an ideal approach to batch processing</p> <a href="/posts/aws-batch/" class="text-white">Read more</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="page-header section-height-75 m-2 border-radius-xl" style="background-image: url('/static/assets/img/expansiveBlog4.jpg');">
            <span class=" bg-gradient-light"></span>
            <div class="container">
              <div class="row">
                <div class="col-lg-6 my-auto">
                  <h4 class="text-white font-weight-bolder mb-0 fadeIn1 fadeInBottom">Featured Blog:</h4>
                  <h1 class="text-white fadeIn2 fadeInBottom">LM Studio</h1>
                  <p class="lead text-white opacity-8 fadeIn3 fadeInBottom">💡 Transform Your Open-Source Contributions with LM Studio: Learn how running Large Language Models (LLMs) locally on your machine enhances
                    productivity, privacy, and creativity in open-source development. Discover three powerful models—Dolphin, Deepseek, and Gemma—that streamline tasks like documentation, code assistance, and community
                     support.</p> <a href="/posts/lm-studio/" class="text-white">Read more</a>
                </div>
              </div>
            </div>
          </div> 
        </div>
        <div class="carousel-item">
          <div class="page-header section-height-75 m-3 border-radius-xl" style="background-image: url('/static/assets/img/blog-02.jpg');">
            <span class="bg-gradient-light"></span>
            <div class="container">
              <div class="row">
                <div class="col-lg-6 my-auto">
                  <h4 class="text-white mb-0 fadeIn1 fadeInBottom">Featured Blog:</h4>
                  <h1 class="text-white fadeIn2 fadeInBottom">Browser Automation and Productivity Pt. 1</h1>
                  <p class="lead text-white opacity-8 fadeIn3 fadeInBottom">Tackling common pain points: managing and syncronizing multiple calendars, browser extensions, and headless browsers and scripting.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section-height-75 position-absolute w-100 top-0">
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon position-absolute bottom-50" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon position-absolute bottom-50" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </a>
      </div>
    </div>
  </header>
<div class="container mt-5">
  <h1 class="text-center mb-4">Latest Blog Posts</h1>
  <div class="row">
    {% for post in collections.blog %}
      <div class="col-lg-4 col-md-6 mb-4">
        <a href="{{ post.url }}" class="card-link"> <div class="card card-background align-items-start h-100">
            <div class="full-background" 
                 style="background-image: url('/static/assets/img/expansiveBlog9.jpg');">
            </div>
            <div class="card-body z-index-3">
              <div class="icon icon-md">
                <svg width="30px" height="30px" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg">
                  <title>spaceship</title>
                  <g fill="#FFFFFF">
                    <path d="M39.3,0.7 C38.97,0.37 38.5,0.19 38.03,0.22 C14.65,1.44 6.02,22.26 5.93,22.47 C5.68,23.09 5.83,23.8 6.3,24.27 L15.73,33.7 C16.2,34.18 16.91,34.32 17.53,34.06 C17.74,33.98 38.46,25.25 39.78,1.98 C39.81,1.5 39.63,1.04 39.3,0.7 Z"></path>
                  </g>
                </svg>
              </div>
            </div>
            <div class="card-footer pb-3 pt-2 z-index-3">
              <h4 class="text-white mb-1">{{ post.data.title }}</h4>
              <p class="text-white text-xs font-weight-bolder text-uppercase opacity-7">📅 Date: {{ post.data.date }}</p>
              <p class="text-white text-xs font-weight-bolder text-uppercase opacity-7">🏷 Tags: {{ post.data.tags | join(', ') }}</p>
              </div>
            <span class="mask bg-info border-radius-xl z-index-2 opacity-2"></span>
          </div>
        </a> </div>
    {% endfor %}
  </div>
</div>
</section>   

{% include "footer.njk" %}