---
layout: base-presentation
title: Presentation
body_class: presentation-page
---

  <header class="header-2">
    <div class="page-header section-height-75 relative" style="background-image: url('/static/assets/img/curved-images/curved1.jpg')">
      <span class="mask bg-gradient-primary"></span>
      <div class="container">
        <div class="row">
          <div class="col-lg-7 text-center mx-auto">
            <h1 class="text-white pt-3 mt-n5">
              Expansive Labs
            </h1>
            <p class="lead text-white mt-3">
              Prepare your company to scale software development operations.
            </p>
          </div>
        </div>
      </div>
      <div class="position-absolute w-100 z-index-1 bottom-0">
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 40" preserveAspectRatio="none" shape-rendering="auto">
          <defs>
            <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
          </defs>
          <g class="moving-waves">
            <use xlink:href="#gentle-wave" x="48" y="-1" fill="rgba(255,255,255,0.40" />
            <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.35)" />
            <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.25)" />
            <use xlink:href="#gentle-wave" x="48" y="8" fill="rgba(255,255,255,0.20)" />
            <use xlink:href="#gentle-wave" x="48" y="13" fill="rgba(255,255,255,0.15)" />
            <use xlink:href="#gentle-wave" x="48" y="16" fill="rgba(255,255,255,0.95" />
          </g>
        </svg>
      </div>
    </div>
  </header>

  <section class="pt-3 pb-4" id="count-stats">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 z-index-2 border-radius-xl mt-n10 mx-auto py-3 blur shadow-blur">
          <div class="row">
            <div class="col-md-4 position-relative">
              <div class="p-3 text-center">
                <h1 class="text-gradient text-primary"><span id="state1" countTo="300">0</span>+</h1>
                <h5 class="mt-3">Coded Elements</h5>
                <p class="text-sm">From buttons, to inputs, navbars, alerts or cards, you are covered</p>
              </div>
              <hr class="vertical dark">
            </div>
            <div class="col-md-4 position-relative">
              <div class="p-3 text-center">
                <h1 class="text-gradient text-primary"> <span id="state2" countTo="100">0</span>+</h1>
                <h5 class="mt-3">Design Blocks</h5>
                <p class="text-sm">Mix the sections, change the colors and unleash your creativity</p>
              </div>
              <hr class="vertical dark">
            </div>
            <div class="col-md-4">
              <div class="p-3 text-center">
                <h1 class="text-gradient text-primary" id="state3" countTo="39">0</h1>
                <h5 class="mt-3">Pages</h5>
                <p class="text-sm">Save 3-4 weeks of work when you use our pre-made pages for your website</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <div class="container mt-sm-5">
    <div class="page-header section-height-50 my-sm-3 mb-3 border-radius-xl" style="background-image: url('https://images.unsplash.com/photo-1606166325683-e6deb697d301?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1363&q=80');">
      <span class="mask bg-gradient-dark"></span>
      <div class="container">
        <div class="row">
          <div class="col-lg-6 ms-lg-5">
            <h4 class="text-white mb-0">Built by developers</h4>
            <h1 class="text-white">Complex Documentation</h1>
            <p class="lead text-white opacity-8">From colors, cards, typography to complex elements, you will find the full documentation. Play with the utility classes and you will create unlimited combinations for our components.</p>
            <a href="https://www.creative-tim.com/learning-lab/bootstrap/overview/soft-ui-design-system" class="text-white icon-move-right">
              Read docs
              <i class="fas fa-arrow-right text-sm ms-1"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="info-horizontal bg-gradient-primary border-radius-xl p-5">
          <div class="icon">
            <svg class="text-white" width="25px" height="25px" viewBox="0 0 46 43" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <title>delivery-fast</title>
              <g id="Basic-Elements" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Rounded-Icons" transform="translate(-2320.000000, -741.000000)" fill="#FFFFFF" fill-rule="nonzero">
                  <g id="Icons-with-opacity" transform="translate(1716.000000, 291.000000)">
                    <g id="delivery-fast" transform="translate(604.000000, 450.000000)">
                      <rect class="color-background" id="Rectangle" opacity="0.601143973" x="0" y="0" width="17.25" height="3.83333333"></rect>
                      <rect class="color-background" id="Rectangle" opacity="0.601143973" x="3.83333333" y="7.66666667" width="13.4166667" height="3.83333333"></rect>
                      <rect class="color-background" id="Rectangle" opacity="0.601143973" x="7.66666667" y="15.3333333" width="9.58333333" height="3.83333333"></rect>
                      <rect class="color-background" id="Rectangle" opacity="0.601888021" x="11.5" y="23" width="5.75" height="3.83333333"></rect>
                      <path class="color-foreground" d="M44.9400833,19.3679167 L38.0611667,15.9294167 L36.3591667,9.1195 C36.1464167,8.26466667 35.37975,7.66666667 34.5,7.66666667 L31.3854167,7.66666667 L21.0833333,7.66666667 C21.0833333,7.66666667 21.0833333,31.5310833 21.0833333,32.5833333 C21.0833333,33.6355833 21.1810833,34.5 21.1810833,34.5 C21.6640833,38.801 25.2808333,42.1666667 29.7083333,42.1666667 C34.1358333,42.1666667 37.7525833,38.801 38.2355833,34.5 L44.0833333,34.5 C45.1413333,34.5 46,33.6413333 46,32.5833333 L46,21.0833333 C46,20.3569167 45.5898333,19.69375 44.9400833,19.3679167 Z M29.7083333,38.3333333 C27.0671667,38.3333333 24.9166667,36.18475 24.9166667,33.5416667 C24.9166667,30.8985833 27.0671667,28.75 29.7083333,28.75 C32.3495,28.75 34.5,30.8985833 34.5,33.5416667 C34.5,36.18475 32.3495,38.3333333 29.7083333,38.3333333 Z M24.9166667,17.25 L24.9166667,11.5 L33.2426667,11.5 L34.5,17.25 L24.9166667,17.25 Z" id="Shape"></path>
                    </g>
                  </g>
                </g>
              </g>
            </svg>
          </div>
          <div class="description ps-5">
            <h5 class="text-white">Getting Started</h5>
            <p class="text-white">Check the possible ways of working with our product and the necessary files for building your own project.</p>
            <a href="https://www.creative-tim.com/learning-lab/bootstrap/overview/soft-ui-design-system" class="text-white icon-move-right">
              Let's start
              <i class="fas fa-arrow-right text-sm ms-1"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 px-lg-1 mt-lg-0 mt-4">
        <div class="info-horizontal bg-gray-100 border-radius-xl p-5">
          <div class="icon">
            <svg class="text-primary" width="25px" height="25px" viewBox="0 0 40 44" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <title>document</title>
              <g id="Basic-Elements" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Rounded-Icons" transform="translate(-1870.000000, -591.000000)" fill="#FFFFFF" fill-rule="nonzero">
                  <g id="Icons-with-opacity" transform="translate(1716.000000, 291.000000)">
                    <g id="document" transform="translate(154.000000, 300.000000)">
                      <path class="color-foreground" d="M40,40 L36.3636364,40 L36.3636364,3.63636364 L5.45454545,3.63636364 L5.45454545,0 L38.1818182,0 C39.1854545,0 40,0.814545455 40,1.81818182 L40,40 Z" id="Path" opacity="0.603585379"></path>
                      <path class="color-background" d="M30.9090909,7.27272727 L1.81818182,7.27272727 C0.814545455,7.27272727 0,8.08727273 0,9.09090909 L0,41.8181818 C0,42.8218182 0.814545455,43.6363636 1.81818182,43.6363636 L30.9090909,43.6363636 C31.9127273,43.6363636 32.7272727,42.8218182 32.7272727,41.8181818 L32.7272727,9.09090909 C32.7272727,8.08727273 31.9127273,7.27272727 30.9090909,7.27272727 Z M18.1818182,34.5454545 L7.27272727,34.5454545 L7.27272727,30.9090909 L18.1818182,30.9090909 L18.1818182,34.5454545 Z M25.4545455,27.2727273 L7.27272727,27.2727273 L7.27272727,23.6363636 L25.4545455,23.6363636 L25.4545455,27.2727273 Z M25.4545455,20 L7.27272727,20 L7.27272727,16.3636364 L25.4545455,16.3636364 L25.4545455,20 Z" id="Shape"></path>
                    </g>
                  </g>
                </g>
              </g>
            </svg>
          </div>
          <div class="description ps-5">
            <h5>Plugins</h5>
            <p>Get inspiration and have an overview about the plugins that we used to create the Soft UI Design System.</p>
            <a href="https://www.creative-tim.com/learning-lab/bootstrap/datepicker/soft-ui-design-system" class="text-primary icon-move-right">
              Read more
              <i class="fas fa-arrow-right text-sm ms-1"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mt-lg-0 mt-4">
        <div class="info-horizontal bg-gray-100 border-radius-xl p-5">
          <div class="icon">
            <svg class="text-primary" width="25px" height="25px" viewBox="0 0 40 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <title>ungroup</title>
              <g id="Basic-Elements" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Rounded-Icons" transform="translate(-2170.000000, -442.000000)" fill="#FFFFFF" fill-rule="nonzero">
                  <g id="Icons-with-opacity" transform="translate(1716.000000, 291.000000)">
                    <g id="ungroup" transform="translate(454.000000, 151.000000)">
                      <path class="color-background" d="M38.1818182,10.9090909 L32.7272727,10.9090909 L32.7272727,30.9090909 C32.7272727,31.9127273 31.9127273,32.7272727 30.9090909,32.7272727 L10.9090909,32.7272727 L10.9090909,38.1818182 C10.9090909,39.1854545 11.7236364,40 12.7272727,40 L38.1818182,40 C39.1854545,40 40,39.1854545 40,38.1818182 L40,12.7272727 C40,11.7236364 39.1854545,10.9090909 38.1818182,10.9090909 Z" id="Path"></path>
                      <path class="color-foreground" d="M27.2727273,29.0909091 L1.81818182,29.0909091 C0.812727273,29.0909091 0,28.2781818 0,27.2727273 L0,1.81818182 C0,0.814545455 0.812727273,0 1.81818182,0 L27.2727273,0 C28.2781818,0 29.0909091,0.814545455 29.0909091,1.81818182 L29.0909091,27.2727273 C29.0909091,28.2781818 28.2781818,29.0909091 27.2727273,29.0909091 Z" id="Path"></path>
                    </g>
                  </g>
                </g>
              </g>
            </svg>
          </div>
          <div class="description ps-5">
            <h5>Utility Classes</h5>
            <p>Soft UI Design System is giving you a lot of pre-made elements. For those who want flexibility, we included many utility classes.</p>
            <a href="https://www.creative-tim.com/learning-lab/bootstrap/utilities/soft-ui-design-system" class="text-primary icon-move-right">
              Read more
              <i class="fas fa-arrow-right text-sm ms-1"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="py-7">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 mx-auto text-center">
          <h2 class="mb-0">Trusted by over</h2>
          <h2 class="text-gradient text-primary mb-3">1,435,000 web developers</h2>
          <p class="lead">Many Fortune 500 companies, startups, universities and governmental institutions love Creative Tim's products. </p>
        </div>
      </div>
      <div class="row mt-6">
        <div class="col-lg-4 col-md-8">
          <div class="card card-plain">
            <div class="card-body">
              <div class="author">
                <div class="name">
                  <h6 class="mb-0 font-weight-bolder">Nick Willever</h6>
                  <div class="stats">
                    <i class="far fa-clock"></i> 1 day ago
                  </div>
                </div>
              </div>
              <p class="mt-4">"This is an excellent product, the documentation is excellent and helped me get things done more efficiently."</p>
              <div class="rating mt-3">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-8 ms-md-auto">
          <div class="card bg-gradient-primary">
            <div class="card-body">
              <div class="author align-items-center">
                <div class="name">
                  <h6 class="text-white mb-0 font-weight-bolder">Shailesh Kushwaha</h6>
                  <div class="stats text-white">
                    <i class="far fa-clock"></i> 1 week ago
                  </div>
                </div>
              </div>
              <p class="mt-4 text-white">"I found solution to all my design needs from Creative Tim. I use them as a freelancer in my hobby projects for fun! And its really affordable, very humble guys !!!"</p>
              <div class="rating mt-3">
                <i class="fas fa-star text-white"></i>
                <i class="fas fa-star text-white"></i>
                <i class="fas fa-star text-white"></i>
                <i class="fas fa-star text-white"></i>
                <i class="fas fa-star text-white"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-8">
          <div class="card card-plain">
            <div class="card-body">
              <div class="author">
                <div class="name">
                  <h6 class="mb-0 font-weight-bolder">Samuel Kamuli</h6>
                  <div class="stats">
                    <i class="far fa-clock"></i> 3 weeks ago
                  </div>
                </div>
              </div>
              <p class="mt-4">"Great product. Helped me cut the time to set up a site. I used the components within instead of starting from scratch. I highly recommend for developers who want to spend more time on the backend!."</p>
              <div class="rating mt-3">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="py-sm-7" id="pricing-soft-ui">
    <div class="bg-gradient-primary position-relative m-3 border-radius-xl">
      <img src="/static/assets/img/shapes/waves-white.svg" alt="pattern-lines" class="position-absolute start-0 top-md-0 w-100 opacity-6">
      <div class="container pb-lg-8 pb-7 pt-5 postion-relative z-index-2 position-relative">
        <div class="row">
          <div class="col-md-7 mx-auto text-center">
            <span class="badge bg-gradient-dark mb-2">Pricing</span>
            <h3 class="text-white">Ready to get Soft UI Design System?</h3>
            <p class="text-white">Based on the license you get, you will have direct access to our team <br /> of developers who built the product.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 col-7 mx-auto text-center">
            <div class="nav-wrapper mt-5 position-relative z-index-2">
              <ul class="nav nav-pills nav-fill flex-row p-1" id="tabs-pricing" role="tablist">
                <li class="nav-item">
                  <a class="nav-link mb-0 active" id="tabs-iconpricing-tab-1" data-bs-toggle="tab" href="#monthly" role="tab" aria-controls="monthly" aria-selected="true">
                    Yearly
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link mb-0" id="tabs-iconpricing-tab-2" data-bs-toggle="tab" href="#lifetime" role="tab" aria-controls="lifetime" aria-selected="false">
                    Lifetime Deal
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-lg-n8 mt-n6">
      <div class="container">
        <div class="tab-content tab-space">
          <div class="tab-pane active" id="monthly">
            <div class="row">
              <div class="col-lg-3 mb-lg-auto mb-4 my-auto p-md-0 ms-auto">
                <div class="card border-radius-top-end-lg-0 border-radius-bottom-end-lg-0">
                  <div class="card-header text-center pt-4 pb-3">
                    <h6 class="text-dark opacity-8 mb-0">Freelancer</h6>
                    <h1 class="font-weight-bolder">
                      <small>$</small>99<span class="opacity-6 text-sm">/year*</span>
                    </h1>
                  </div>
                  <div class="card-body mx-auto pt-0">
                    <div class="justify-content-left d-flex px-2 py-1">
                      <div>
                        <i class="fas fa-check text-dark opacity-6 text-sm"></i>
                      </div>
                      <div class="ps-2">
                        <span class="text-sm">1 Developer</span>
                      </div>
                    </div>
                    <div class="justify-content-left d-flex px-2 py-1">
                      <div>
                        <i class="fas fa-check text-dark opacity-6 text-sm"></i>
                      </div>
                      <div class="ps-2">
                        <span class="text-sm">1 Project</span>
                      </div>
                    </div>
                    <div class="justify-content-left d-flex px-2 py-1">
                      <div>
                        <i class="fas fa-check text-dark opacity-6 text-sm"></i>
                      </div>
                      <div class="ps-2">
                        <span class="text-sm">Full Documentation</span>
                      </div>
                    </div>
                    <div class="justify-content-left d-flex px-2 py-1">
                      <div>
                        <i class="fas fa-check text-dark opacity-6 text-sm"></i>
                      </div>
                      <div class="ps-2">
                        <span class="text-sm">Regular Support</span>
                      </div>
                    </div>
                    <div class="justify-content-left d-flex px-2 py-1">
                      <div>
                        <i class="fas fa-check text-dark opacity-6 text-sm"></i>
                      </div>
                      <div class="ps-2">
                        <span class="text-sm">12 Months Updates</span>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer pt-0">
                    <a href="https://secure.avangate.com/order/checkout.php?PRODS=34081148&OPTIONS34081148=FREELANCER-ANNUAL&CART=1&CARD=2&CLEAN_CART=1&SHORT_FORM=1&SRC=soft-ds-pro-presentation" class="btn w-100 bg-gradient-dark mb-0">
                      Buy now
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 p-md-0 mb-lg-auto mb-4 z-index-2">
                <div class="card">
                  <div class="card-header text-center pt-5 pb-3">
                    <h6 class="text-dark opacity-8 text mb-0 mt-2">Company</h6>
                    <h1 class="font-weight-bolder">
                      <small>$</small>149<span class="opacity-6 text-sm">/year*</span>
                    </h1>
                  </div>
                  <div class="card-body mx-auto pt-0">
                    <div class="justify-content-left d-flex px-2 py-1">
                      <div>
                        <i class="fas fa-check text-dark opacity-6 text-sm"></i>
                      </div>
                      <div class="ps-2">
                        <span class="text-sm">Up to 10 Developers</span>
                      </div>
                    </div>
                    <div class="justify-content-left d-flex px-2 py-1">
                      <div>
                        <i class="fas fa-check text-dark opacity-6 text-sm"></i>
                      </div>
                      <div class="ps-2">
                        <span class="text-sm">Unlimited Projects</span>
                      </div>
                    </div>
                    <div class="justify-content-left d-flex px-2 py-1">
                      <div>
                        <i class="fas fa-check text-dark opacity-6 text-sm"></i>
                      </div>
                      <div class="ps-2">
                        <span class="text-sm">Full Documentation</span>
                      </div>
                    </div>
                    <div class="justify-content-left d-flex px-2 py-1">
                      <div>
                        <i class="fas fa-check text-dark opacity-6 text-sm"></i>
                      </div>
                      <div class="ps-2">
                        <span class="text-sm">Regular Support</span>
                      </div>
                    </div>
                    <div class="justify-content-left d-flex px-2 py-1">
                      <div>
                        <i class="fas fa-check text-dark opacity-6 text-sm"></i>
                      </div>
                      <div class="ps-2">
                        <span class="text-sm">12 Months Updates</span>
                      </div>
                    </div>
                    <div class="justify-content-left d-flex px-2 py-1">
                      <div>
                        <i class="fas fa-check text-dark opacity-6 text-sm"></i>
                      </div>
                      <div class="ps-2">
                        <span class="text-sm">Good for SaaS Apps</span>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer pt-0">
                    <a href="https://secure.avangate.com/order/checkout.php?PRODS=34081148&OPTIONS34081148=COMPANY-ANNUAL&CART=1&CARD=2&CLEAN_CART=1&SHORT_FORM=1&SRC=soft-ds-pro-presentation" class="btn btn-icon bg-gradient-primary d-block mb-0 icon-move-right">Buy Now
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 mb-lg-auto mb-4 my-auto p-md-0 me-auto">
                <div class="card border-radius-top-start-lg-0 border-radius-bottom-start-lg-0">
                  <div class="card-header text-center pt-4 pb-2">
                    <h6 class="text-dark opacity-8 text mb-0">Enterprise</h6>
                    <h1 class="font-weight-bolder">
                      <small>$</small>499<span class="opacity-6 text-sm">/year*</span>
                    </h1>
                  </div>
                  <div class="card-body mx-auto pt-0">
                    <div class="justify-content-left d-flex px-2 py-1 py-1">
                      <div>
                        <i class="fas fa-check text-dark opacity-6 text-sm"></i>
                      </div>
                      <div class="ps-2">
                        <span class="text-sm">More than 10 Developers</span>
                      </div>
                    </div>
                    <div class="justify-content-left d-flex px-2 py-1">
                      <div>
                        <i class="fas fa-check text-dark opacity-6 text-sm"></i>
                      </div>
                      <div class="ps-2">
                        <span class="text-sm">Unlimited Projects</span>
                      </div>
                    </div>
                    <div class="justify-content-left d-flex px-2 py-1 py-1">
                      <div>
                        <i class="fas fa-check text-dark opacity-6 text-sm"></i>
                      </div>
                      <div class="ps-2">
                        <span class="text-sm">Full documentation</span>
                      </div>
                    </div>
                    <div class="justify-content-left d-flex px-2 py-1 py-1">
                      <div>
                        <i class="fas fa-check text-dark opacity-6 text-sm"></i>
                      </div>
                      <div class="ps-2">
                        <span class="text-sm">Priority Support</span>
                      </div>
                    </div>
                    <div class="justify-content-left d-flex px-2 py-1 py-1">
                      <div>
                        <i class="fas fa-check text-dark opacity-6 text-sm"></i>
                      </div>
                      <div class="ps-2">
                        <span class="text-sm">12 Months Updates</span>
                      </div>
                    </div>
                    <div class="justify-content-left d-flex px-2 py-1">
                      <div>
                        <i class="fas fa-check text-dark opacity-6 text-sm"></i>
                      </div>
                      <div class="ps-2">
                        <span class="text-sm">Good for large projects</span>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer pt-0">
                    <a href=" https://secure.avangate.com/order/checkout.php?PRODS=34081148&OPTIONS34081148=ENTERPRISE-ANNUAL&CART=1&CARD=2&CLEAN_CART=1&SHORT_FORM=1&SRC=soft-ds-pro-presentation" class="btn w-100 bg-gradient-dark mb-0">Buy now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="lifetime">
            <div class="row">
              <div class="col-lg-3 mb-lg-auto mb-4 my-auto p-md-0 ms-auto">
                <div class="card border-radius-top-end-lg-0 border-radius-bottom-end-lg-0">
                  <div class="card-header text-center pt-4 pb-3">
                    <h6 class="text-dark opacity-8 mb-0">Freelancer</h6>
                    <h1 class="font-weight-bolder">
                      <small>$</small>249<span class="opacity-6 text-sm">/life*</span>
                    </h1>
                  </div>
                  <div class="card-body mx-auto pt-0">
                    <div class="justify-content-left d-flex px-2 py-1">
                      <div>
                        <i class="fas fa-check text-dark opacity-6 text-sm"></i>
                      </div>
                      <div class="ps-2">
                        <span class="text-sm">1 Developer</span>
                      </div>
                    </div>
                    <div class="justify-content-left d-flex px-2 py-1">
                      <div>
                        <i class="fas fa-check text-dark opacity-6 text-sm"></i>
                      </div>
                      <div class="ps-2">
                        <span class="text-sm">1 Project</span>
                      </div>
                    </div>
                    <div class="justify-content-left d-flex px-2 py-1">
                      <div>
                        <i class="fas fa-check text-dark opacity-6 text-sm"></i>
                      </div>
                      <div class="ps-2">
                        <span class="text-sm">Full Documentation</span>
                      </div>
                    </div>
                    <div class="justify-content-left d-flex px-2 py-1">
                      <div>
                        <i class="fas fa-check text-dark opacity-6 text-sm"></i>
                      </div>
                      <div class="ps-2">
                        <span class="text-sm">Regular Support</span>
                      </div>
                    </div>
                    <div class="justify-content-left d-flex px-2 py-1">
                      <div>
                        <i class="fas fa-check text-dark opacity-6 text-sm"></i>
                      </div>
                      <div class="ps-2">
                        <span class="text-sm">Lifetime Updates</span>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer pt-0">
                    <a href=" https://secure.avangate.com/order/checkout.php?PRODS=34081148&OPTIONS34081148=FREELANCER-LIFETIME&CART=1&CARD=2&CLEAN_CART=1&SHORT_FORM=1&SRC=soft-ds-pro-presentation" class="btn w-100 bg-gradient-dark mb-0">
                      Buy now
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 p-md-0 mb-lg-auto mb-4 z-index-2">
                <div class="card">
                  <div class="card-header text-center pt-5 pb-3">
                    <h6 class="text-dark opacity-8 text mb-0 mt-2">Company</h6>
                    <h1 class="font-weight-bolder">
                      <small>$</small>449<span class="opacity-6 text-sm">/life*</span>
                    </h1>
                  </div>
                  <div class="card-body mx-auto pt-0">
                    <div class="justify-content-left d-flex px-2 py-1">
                      <div>
                        <i class="fas fa-check text-dark opacity-6 text-sm"></i>
                      </div>
                      <div class="ps-2">
                        <span class="text-sm">Up to 10 Developers</span>
                      </div>
                    </div>
                    <div class="justify-content-left d-flex px-2 py-1">
                      <div>
                        <i class="fas fa-check text-dark opacity-6 text-sm"></i>
                      </div>
                      <div class="ps-2">
                        <span class="text-sm">Unlimited Projects</span>
                      </div>
                    </div>
                    <div class="justify-content-left d-flex px-2 py-1">
                      <div>
                        <i class="fas fa-check text-dark opacity-6 text-sm"></i>
                      </div>
                      <div class="ps-2">
                        <span class="text-sm">Full Documentation</span>
                      </div>
                    </div>
                    <div class="justify-content-left d-flex px-2 py-1">
                      <div>
                        <i class="fas fa-check text-dark opacity-6 text-sm"></i>
                      </div>
                      <div class="ps-2">
                        <span class="text-sm">Regular Support</span>
                      </div>
                    </div>
                    <div class="justify-content-left d-flex px-2 py-1">
                      <div>
                        <i class="fas fa-check text-dark opacity-6 text-sm"></i>
                      </div>
                      <div class="ps-2">
                        <span class="text-sm">Lifetime Updates</span>
                      </div>
                    </div>
                    <div class="justify-content-left d-flex px-2 py-1">
                      <div>
                        <i class="fas fa-check text-dark opacity-6 text-sm"></i>
                      </div>
                      <div class="ps-2">
                        <span class="text-sm">Good for SaaS Apps</span>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer pt-0">
                    <a href="https://secure.avangate.com/order/checkout.php?PRODS=34081148&OPTIONS34081148=COMPANY-LIFETIME&CART=1&CARD=2&CLEAN_CART=1&SHORT_FORM=1&SRC=soft-ds-pro-presentation" class="btn btn-icon bg-gradient-primary d-block mb-0 icon-move-right">Buy Now
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 mb-lg-auto mb-4 my-auto p-md-0 me-auto">
                <div class="card border-radius-top-start-lg-0 border-radius-bottom-start-lg-0">
                  <div class="card-header text-center pt-4 pb-2">
                    <h6 class="text-dark opacity-8 text mb-0">Enterprise</h6>
                    <h1 class="font-weight-bolder">
                      <small>$</small>1.499<span class="opacity-6 text-sm">/life*</span>
                    </h1>
                  </div>
                  <div class="card-body mx-auto pt-0">
                    <div class="justify-content-left d-flex px-2 py-1 py-1">
                      <div>
                        <i class="fas fa-check text-dark opacity-6 text-sm"></i>
                      </div>
                      <div class="ps-2">
                        <span class="text-sm">More than 10 developers</span>
                      </div>
                    </div>
                    <div class="justify-content-left d-flex px-2 py-1">
                      <div>
                        <i class="fas fa-check text-dark opacity-6 text-sm"></i>
                      </div>
                      <div class="ps-2">
                        <span class="text-sm">Unlimited Projects</span>
                      </div>
                    </div>
                    <div class="justify-content-left d-flex px-2 py-1 py-1">
                      <div>
                        <i class="fas fa-check text-dark opacity-6 text-sm"></i>
                      </div>
                      <div class="ps-2">
                        <span class="text-sm">Full documentation</span>
                      </div>
                    </div>
                    <div class="justify-content-left d-flex px-2 py-1 py-1">
                      <div>
                        <i class="fas fa-check text-dark opacity-6 text-sm"></i>
                      </div>
                      <div class="ps-2">
                        <span class="text-sm">Priority Support</span>
                      </div>
                    </div>
                    <div class="justify-content-left d-flex px-2 py-1 py-1">
                      <div>
                        <i class="fas fa-check text-dark opacity-6 text-sm"></i>
                      </div>
                      <div class="ps-2">
                        <span class="text-sm">Lifetime Updates</span>
                      </div>
                    </div>
                    <div class="justify-content-left d-flex px-2 py-1">
                      <div>
                        <i class="fas fa-check text-dark opacity-6 text-sm"></i>
                      </div>
                      <div class="ps-2">
                        <span class="text-sm">Good for large projects</span>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer pt-0">
                    <a href="https://secure.avangate.com/order/checkout.php?PRODS=34081148&OPTIONS34081148=ENTERPRISE-LIFETIME&CART=1&CARD=2&CLEAN_CART=1&SHORT_FORM=1&SRC=soft-ds-pro-presentation" class="btn w-100 bg-gradient-dark mb-0">Buy now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-7 mx-auto mt-5">
            <p class="text-sm">
              *After the first 12 months, you can still use the product for unlimited years. You will renew only if you want updates and support. On the Lifetime Deal you will get Lifetime Support and Updates with 1 time payment.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

 

  
  

