---
layout: base-presentation
title: Expansive Labs
body_class: presentation-page
---

  <!--
  =========================================================
  * Soft UI PRO - v1.0.1
  =========================================================

  * Product Page: https://www.creative-tim.com/product/soft-ui-design-system-pro
  * Copyright 2021 Creative Tim (https://www.creative-tim.com)

  Coded by www.creative-tim.com

  =========================================================

  * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. -->

  <header class="header-2">
    
    <div class="page-header section-height-75 relative" style="background-image: url('/static/assets/img/testTubes.jpg')">
     <div class="position-absolute w-100 z-index-1 bottom-0">
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 40" preserveAspectRatio="none" shape-rendering="auto">
          <defs>
            <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
          </defs>
          <g class="moving-waves">
            <use xlink:href="#gentle-wave" x="48" y="-1" fill="rgba(10,255,15,0.40" />
            <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(17, 49, 231, 0.35)" />
            <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.25)" />
            <use xlink:href="#gentle-wave" x="48" y="8" fill="rgba(38, 218, 21, 0.22)" />
            <use xlink:href="#gentle-wave" x="48" y="13" fill="rgba(17, 33, 129, 0.15)" />
            <use xlink:href="#gentle-wave" x="48" y="16" fill="rgba(10,50,255,0.20" />
          </g>
        </svg>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-7 text-center mx-auto">
            <h1 class="text-white text-shadow-dark 2px 2px 2px #000000; pt-3 mt-n5 ">
              Expansive Labs
            </h1>
            <div class="card card-body-large text-md-left text-center px-sm-5 shadow-lg mt-sm-5 py-sm-5" style="opacity: 0.9;">
              <div>
              <p class="text-dark text-shadow: 2px 2px 2px #000000; mb-0 font-weight-bold lead mb-0">Expansive Labs champions radical transparency as the foundation for scientific excellence.
               We merge rigorous scientific methods with the dynamism of DevOps and agile principles, applying
                these tools to our own lives to catalyze breakthroughs and elevate the human experience. Prepare 
                your company to scale software development operations.</p>
              </div>
          </div>
        </div>
      </div>
      
    </div>
  </header>

  
 
  