<!--
  =========================================================
  * Soft UI PRO - v1.0.1
  =========================================================

  * Product Page: https://www.creative-tim.com/product/soft-ui-design-system-pro
  * Copyright 2021 Creative Tim (https://www.creative-tim.com)

  Coded by www.creative-tim.com

  =========================================================

  * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="/static/assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="/static/assets/img/favicon.png">
  <link rel="canonical" href="https://appseed.us/ui-kit/soft-ui-design-system" />
  <title>
    {{ title }}
  </title>
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
  <!-- Nucleo Icons -->
  <link href="/static/assets/css/nucleo-icons.css" rel="stylesheet" />
  <link href="/static/assets/css/nucleo-svg.css" rel="stylesheet" />
  <!-- Font Awesome Icons -->
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <link href="/static/assets/css/nucleo-svg.css" rel="stylesheet" />
  <!-- CSS Files -->
  <link id="pagestyle" href="/static/assets/css/soft-design-system-pro.css?v=1.0.1" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <!-- <link href="/static/assets/demo/demo.css" rel="stylesheet" /> -->

</head>

<body class="{{ body_class }}">
  {% include "navigation-sticky.njk" %}
<style>
  .waves-container {
    height: 100px;
  }

  @media (max-width: 768px) {
    .waves-container {
      height: 60px;
    }
  }

  @media (max-width: 576px) {
    .waves-container {
      height: 40px;
    }
  }

  .waves {
    height: 100%;
    width: 100%;
  }
</style>
<header class="header-2">
  <div class="page-header section-height-75 relative"
    style="background-image: url('/static/assets/img/testTubes.jpg')">
    <div class="container pt-5 pt-md-6">
      <div class="row">
        <div class="col-lg-7 mx-auto">
          <h1 class="text-white text-start text-center text-shadow-dark pt-8 mt-n5">
            {{ title }}
          </h1>
        </div>
      </div>



  <div class="container" style="padding-bottom: 25px;">
    <div class="row justify-content-center">
      <div class="col-lg-7 mx-auto">
        <div class="card card-body blur px-sm-4 shadow-lg mt-sm-2 py-sm-5">
          <h2 class="text-dark text-start text-gradient text-primary text-align-left mb-0">
            {{ content | safe }}
          </h2>
        </div>
      </div>
    </div>
  </div>

    <!-- Waves (OUTSIDE the container) -->
<div class="waves-container position-absolute w-100 bottom-0 start-0" style="overflow: hidden;">
  <svg class="waves" xmlns="http://www.w3.org/2000/svg" viewBox="0 24 150 40" preserveAspectRatio="none">
        <defs>
          <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
        </defs>
        <g class="moving-waves">
          <use xlink:href="#gentle-wave" x="48" y="-1" fill="rgba(255,255,255,0.40)" />
          <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.35)" />
          <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.25)" />
          <use xlink:href="#gentle-wave" x="48" y="8" fill="rgba(255,255,255,0.20)" />
          <use xlink:href="#gentle-wave" x="48" y="13" fill="rgba(255,255,255,0.15)" />
          <use xlink:href="#gentle-wave" x="48" y="16" fill="rgba(255,255,255,0.95)" />
        </g>
      </svg>
      </header>
    </div>
  </div>



  {% include "footer.njk" %}

  {% include "scripts.njk" %}
</body>

</html>