<!--
=========================================================
* Soft UI PRO - v1.0.1
=========================================================

* Product Page: https://www.creative-tim.com/product/soft-ui-design-system-pro
* Copyright 2021 Creative Tim (https://www.creative-tim.com)

Coded by www.creative-tim.com

 =========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="/static/assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="/static/assets/img/favicon.png">
  <link rel="canonical" href="https://appseed.us/ui-kit/soft-ui-design-system" />

  <title>
    Expansive Labs | {{ title }}
  </title>
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
  <!-- Nucleo Icons -->
  <link href="/static/assets/css/nucleo-icons.css" rel="stylesheet" />
  <link href="/static/assets/css/nucleo-svg.css" rel="stylesheet" />
  <!-- Font Awesome Icons -->
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <link href="/static/assets/css/nucleo-svg.css" rel="stylesheet" />
  <!-- CSS Files -->
  <link id="pagestyle" href="/static/assets/css/soft-design-system-pro.css?v=1.0.1" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <!-- <link href="/static/assets/demo/demo.css" rel="stylesheet" /> -->
<style>
.overlay-image {
    z-index: 10;
}
</style>
</head>

<body class="{{ body_class }}">

  {% include "navigation.njk" %}
  <header class="header-2">
    <div class="page-header section-height-75 relative"
      style="background-image: url('/static/assets/img/testTubes.jpg')">
      <div class="container">
        <div class="row">
          <div style="margin-top:150px">
            <div class="text-center mx-auto">
              <div class="container">
                <div class="row">

                  <div class="position-relative">
                      {% if image %}
                          <img src="{{ image }}"
                              alt="Photo of {{ title }}"
                              class="position-absolute top: -10 start-50 translate-middle-x rounded shadow overlay-image"
                              style="max-width: 200px; top: -80px;">
                      {% endif %}
                  <div class="card card-body blur text-md-left text-center px-sm-3 shadow-lg mt-sm-5 py-sm-0">
                        

                      <div class="card card-body blur text-md-left text-center mb-sm-3 px-sm-5 shadow-lg mt-sm-3 py-sm-0">
                          <h2 class="text-dark text-gradient text-primary mb-0 mt-7">
                              {{ title }}
                          </h2>
                          <h4 class="text-secondary mb-4">{{ role }}</h4>
                            <div class="text-dark" style="text-align: left; justify-content: flex-start;">
                                {{ content | safe }}
                            </div>
                      </div>

                      </div>
                  </div>
                </div>
                  </div>
                </div>

              </div>

            </div>
          </div>

        </div>
      </div>
    </div>
    </div>

  </header>





  {% include "footer.njk" %}

  {% include "scripts.njk" %}

  <!--  Google Maps Plugin    -->
  <script src="/static/assets/js/soft-design-system-pro.min.js?v=1.0.1" type="text/javascript"></script>
  <script type="text/javascript">
    if (document.getElementById('state1')) {
      const countUp = new CountUp('state1', document.getElementById("state1").getAttribute("countTo"));
      if (!countUp.error) {
        countUp.start();
      } else {
        console.error(countUp.error);
      }
    }
    if (document.getElementById('state2')) {
      const countUp1 = new CountUp('state2', document.getElementById("state2").getAttribute("countTo"));
      if (!countUp1.error) {
        countUp1.start();
      } else {
        console.error(countUp1.error);
      }
    }
    if (document.getElementById('state3')) {
      const countUp2 = new CountUp('state3', document.getElementById("state3").getAttribute("countTo"));
      if (!countUp2.error) {
        countUp2.start();
      } else {
        console.error(countUp2.error);
      };
    }
  </script>

</body>

</html>